
[ angletypes ]
;  i    j    k  func       th0       cth
HW  OW  HW           1   104.520    836.800 ; TIP3P water
HW  HW  OW           1   127.740      0.000 ; (found in crystallographic water with 3 bonds)
C   C   O            1   120.000    669.440 ; new99
C   C   OH           1   120.000    669.440 ; new99
CT  C   CT           1   117.000    527.184 ; new99
CT  C   OS           1   115.000    669.440 ; new99
O   C   OS           1   125.000    669.440 ; new99
H4  C   C            1   120.000    418.400 ; new99
H4  C   CM           1   115.000    418.400 ; new99
H4  C   CT           1   115.000    418.400 ; new99
H4  C   O            1   120.000    418.400 ; new99
H4  C   OH           1   120.000    418.400 ; new99
H5  C   N            1   120.000    418.400 ; new99
H5  C   O            1   119.000    418.400 ; new99
H5  C   OH           1   107.000    418.400 ; new99
H5  C   OS           1   107.000    418.400 ; new99
CA  CA  OH           1   120.000    585.760 ; new99
CA  OH  HO           1   113.000    418.400 ; new99
F   CA  CA           1   121.000    585.760 ; new99
Cl  CA  CA           1   118.800    585.760 ; new99
Br  CA  CA           1   118.800    585.760 ; new99
I   CA  CA           1   118.800    585.760 ; new99
CM  CM  OS           1   125.000    669.440 ; new99
H4  CM  OS           1   113.000    418.400 ; new99
HA  CM  HA           1   120.000    292.880 ; new99
HA  CM  CT           1   120.000    418.400 ; new99
H1  CT  CM           1   109.500    418.400 ; new99
HC  CT  CM           1   109.500    418.400 ; new99
C   CT  OS           1   109.500    502.080 ; new99
CM  CT  CT           1   111.000    527.184 ; new99
CM  CT  OS           1   109.500    418.400 ; new99
CT  CT  CA           1   114.000    527.184 ; new99
OS  CT  OS           1   101.000    502.080 ; new99
F   CT  CT           1   109.000    418.400 ; new99
F   CT  H2           1   109.500    418.400 ; new99
Cl  CT  CT           1   108.500    418.400 ; new99
Cl  CT  H1           1   108.500    418.400 ; new99
Br  CT  CT           1   108.000    418.400 ; new99
Br  CT  H1           1   106.500    418.400 ; new99
I   CT  CT           1   106.000    418.400 ; new99
CB  C   NA           1   111.300    585.760 ; NA
CB  C   O            1   128.800    669.440 ; 
CM  C   NA           1   114.100    585.760 ; 
CM  C   O            1   125.300    669.440 ; 
CT  C   O            1   120.400    669.440 ; 
CT  C   O2           1   117.000    585.760 ; 
CT  C   OH           1   110.000    669.440 ; new99
N*  C   NA           1   115.400    585.760 ; 
N*  C   NC           1   118.600    585.760 ; 
N*  C   O            1   120.900    669.440 ; 
NA  C   O            1   120.600    669.440 ; 
NC  C   O            1   122.500    669.440 ; 
CT  C   N            1   116.600    585.760 ; AA general
N   C   O            1   122.900    669.440 ; AA general
O   C   O            1   126.000    669.440 ; AA COO- terminal residues
O2  C   O2           1   126.000    669.440 ; AA GLU            (SCH JPC 79,2379)
O   C   OH           1   120.000    669.440 ; 
CA  C   CA           1   120.000    527.184 ; changed from 85.0  bsd on C6H6 nmodes; AA tyr
CA  C   OH           1   120.000    585.760 ; AA tyr
C   CA  CA           1   120.000    527.184 ; changed from 85.0  bsd on C6H6 nmodes
CA  CA  CA           1   120.000    527.184 ; changed from 85.0  bsd on C6H6 nmodes
CA  CA  CB           1   120.000    527.184 ; changed from 85.0  bsd on C6H6 nmodes
CA  CA  CT           1   120.000    585.760 ; 
CA  CA  HA           1   120.000    418.400 ; new99
CA  CA  H4           1   120.000    418.400 ; new99
CB  CA  HA           1   120.000    418.400 ; new99
CB  CA  H4           1   120.000    418.400 ; new99
CB  CA  N2           1   123.500    585.760 ; 
CB  CA  NC           1   117.300    585.760 ; 
CM  CA  N2           1   120.100    585.760 ; 
CM  CA  NC           1   121.500    585.760 ; 
N2  CA  NA           1   116.000    585.760 ; 
N2  CA  NC           1   119.300    585.760 ; 
NA  CA  NC           1   123.300    585.760 ; 
C   CA  HA           1   120.000    418.400 ; new99 tyr
N2  CA  N2           1   120.000    585.760 ; AA arg
CN  CA  HA           1   120.000    418.400 ; new99 trp
CA  CA  CN           1   120.000    527.184 ; changed from 85.0  bsd on C6H6 nmodes; AA trp
C   CB  CB           1   119.200    527.184 ; changed from 85.0  bsd on C6H6 nmodes; NA gua
C   CB  NB           1   130.000    585.760 ; 
CA  CB  CB           1   117.300    527.184 ; changed from 85.0  bsd on C6H6 nmodes; NA ade
CA  CB  NB           1   132.400    585.760 ; 
CB  CB  N*           1   106.200    585.760 ; 
CB  CB  NB           1   110.400    585.760 ; 
CB  CB  NC           1   127.700    585.760 ; 
N*  CB  NC           1   126.200    585.760 ; 
C*  CB  CA           1   134.900    527.184 ; changed from 85.0  bsd on C6H6 nmodes; AA trp
C*  CB  CN           1   108.800    527.184 ; changed from 85.0  bsd on C6H6 nmodes; AA trp
CA  CB  CN           1   116.200    527.184 ; changed from 85.0  bsd on C6H6 nmodes; AA trp
H5  CK  N*           1   123.050    418.400 ; new99
H5  CK  NB           1   123.050    418.400 ; new99
N*  CK  NB           1   113.900    585.760 ; 
C   CM  CM           1   120.700    527.184 ; changed from 85.0  bsd on C6H6 nmodes; NA thy
C   CM  CT           1   119.700    585.760 ; 
C   CM  HA           1   119.700    418.400 ; new99
C   CM  H4           1   119.700    418.400 ; new99
CA  CM  CM           1   117.000    527.184 ; changed from 85.0  bsd on C6H6 nmodes; NA cyt
CA  CM  HA           1   123.300    418.400 ; new99
CA  CM  H4           1   123.300    418.400 ; new99
CM  CM  CT           1   119.700    585.760 ; 
CM  CM  HA           1   119.700    418.400 ; new99
CM  CM  H4           1   119.700    418.400 ; new99
CM  CM  N*           1   121.200    585.760 ; 
H4  CM  N*           1   119.100    418.400 ; new99
H5  CQ  NC           1   115.450    418.400 ; new99
NC  CQ  NC           1   129.100    585.760 ; 
CM  CT  HC           1   109.500    418.400 ; changed based on NMA nmodes
CT  CT  CT           1   109.500    334.720 ; 
CT  CT  HC           1   109.500    418.400 ; changed based on NMA nmodes
CT  CT  H1           1   109.500    418.400 ; changed based on NMA nmodes
CT  CT  H2           1   109.500    418.400 ; changed based on NMA nmodes
CT  CT  HP           1   109.500    418.400 ; changed based on NMA nmodes
CT  CT  N*           1   109.500    418.400 ; 
CT  CT  OH           1   109.500    418.400 ; 
CT  CT  OS           1   109.500    418.400 ; 
HC  CT  HC           1   109.500    292.880 ; 
H1  CT  H1           1   109.500    292.880 ; 
HP  CT  HP           1   109.500    292.880 ; AA lys, ch3nh4+
H2  CT  N*           1   109.500    418.400 ; changed based on NMA nmodes
H1  CT  N*           1   109.500    418.400 ; changed based on NMA nmodes
H1  CT  OH           1   109.500    418.400 ; changed based on NMA nmodes 
H1  CT  OS           1   109.500    418.400 ; changed based on NMA nmodes 
H2  CT  OS           1   109.500    418.400 ; changed based on NMA nmodes
N*  CT  OS           1   109.500    418.400 ; 
H1  CT  N            1   109.500    418.400 ; AA general  changed based on NMA nmodes
C   CT  H1           1   109.500    418.400 ; AA general  changed based on NMA nmodes
C   CT  HP           1   109.500    418.400 ; AA zwitterion  changed based on NMA nmodes
H1  CT  S            1   109.500    418.400 ; AA cys     changed based on NMA nmodes
H1  CT  SH           1   109.500    418.400 ; AA cyx     changed based on NMA nmodes
CT  CT  S            1   114.700    418.400 ; AA cyx            (SCHERAGA  JPC 79,1428)
CT  CT  SH           1   108.600    418.400 ; AA cys
H2  CT  H2           1   109.500    292.880 ; AA lys
H1  CT  N2           1   109.500    418.400 ; AA arg     changed based on NMA nmodes
HP  CT  N3           1   109.500    418.400 ; AA lys, ch3nh3+, changed based on NMA nmodes
CA  CT  CT           1   114.000    527.184 ; AA phe tyr          (SCH JPC  79,2379)
C   CT  HC           1   109.500    418.400 ; AA gln      changed based on NMA nmodes
C   CT  N            1   110.100    527.184 ; AA general
CT  CT  N2           1   111.200    669.440 ; AA arg             (JCP 76, 1439)
CT  CT  N            1   109.700    669.440 ; AA ala, general    (JACS 94, 2657)
C   CT  CT           1   111.100    527.184 ; AA general
CA  CT  HC           1   109.500    418.400 ; AA tyr     changed based on NMA nmodes
CT  CT  N3           1   111.200    669.440 ; AA lys             (JCP 76, 1439)
CC  CT  CT           1   113.100    527.184 ; AA his
CC  CT  HC           1   109.500    418.400 ; AA his     changed based on NMA nmodes
C   CT  N3           1   111.200    669.440 ; AA amino terminal residues
C*  CT  CT           1   115.600    527.184 ; AA trp
C*  CT  HC           1   109.500    418.400 ; AA trp    changed based on NMA nmodes
CT  CC  NA           1   120.000    585.760 ; AA his
CT  CC  CV           1   120.000    585.760 ; AA his
CT  CC  NB           1   120.000    585.760 ; AA his
CV  CC  NA           1   120.000    585.760 ; AA his
CW  CC  NA           1   120.000    585.760 ; AA his
CW  CC  NB           1   120.000    585.760 ; AA his
CT  CC  CW           1   120.000    585.760 ; AA his
H5  CR  NA           1   120.000    418.400 ; new99 his
H5  CR  NB           1   120.000    418.400 ; new99 his
NA  CR  NA           1   120.000    585.760 ; AA his
NA  CR  NB           1   120.000    585.760 ; AA his
CC  CV  H4           1   120.000    418.400 ; new99 his
CC  CV  NB           1   120.000    585.760 ; AA his
H4  CV  NB           1   120.000    418.400 ; new99 his
CC  CW  H4           1   120.000    418.400 ; new99 his
CC  CW  NA           1   120.000    585.760 ; AA his
H4  CW  NA           1   120.000    418.400 ; new99 his
C*  CW  H4           1   120.000    418.400 ; new99 trp
C*  CW  NA           1   108.700    585.760 ; AA trp
CT  C*  CW           1   125.000    585.760 ; AA trp
CB  C*  CT           1   128.600    585.760 ; AA trp
CB  C*  CW           1   106.400    527.184 ; changed from 85.0  bsd on C6H6 nmodes; AA trp
CA  CN  NA           1   132.800    585.760 ; AA trp
CB  CN  NA           1   104.400    585.760 ; AA trp
CA  CN  CB           1   122.700    527.184 ; changed from 85.0  bsd on C6H6 nmodes; AA trp
C   N   CT           1   121.900    418.400 ; AA general
C   N   H            1   120.000    418.400 ; new99 general, gln, asn,changed based on NMA nmodes
CT  N   H            1   118.040    418.400 ; new99 general,     changed based on NMA nmodes
CT  N   CT           1   118.000    418.400 ; AA pro             (DETAR JACS 99,1232)
H   N   H            1   120.000    292.880 ; ade,cyt,gua,gln,asn     **
C   N*  CM           1   121.600    585.760 ; 
C   N*  CT           1   117.600    585.760 ; 
C   N*  H            1   119.200    418.400 ; new99
CB  N*  CK           1   105.400    585.760 ; 
CB  N*  CT           1   125.800    585.760 ; 
CB  N*  H            1   125.800    418.400 ; new99
CK  N*  CT           1   128.800    585.760 ; 
CK  N*  H            1   128.800    418.400 ; new99  for unmethylated n.a. bases,chngd bsd NMA nmodes
CM  N*  CT           1   121.200    585.760 ; 
CM  N*  H            1   121.200    418.400 ; new99  for unmethylated n.a. bases,chngd bsd NMA nmodes
CA  N2  H            1   120.000    418.400 ; new99
H   N2  H            1   120.000    292.880 ; 
CT  N2  H            1   118.400    418.400 ; new99 arg
CA  N2  CT           1   123.200    418.400 ; AA arg
CT  N3  H            1   109.500    418.400 ; AA lys,     changed based on NMA nmodes
CT  N3  CT           1   109.500    418.400 ; AA pro/nt
H   N3  H            1   109.500    292.880 ; AA lys, AA(end)
C   NA  C            1   126.400    585.760 ; 
C   NA  CA           1   125.200    585.760 ; 
C   NA  H            1   116.800    418.400 ; new99
CA  NA  H            1   118.000    418.400 ; new99
CC  NA  CR           1   120.000    585.760 ; AA his
CC  NA  H            1   120.000    418.400 ; new99 his
CR  NA  CW           1   120.000    585.760 ; AA his
CR  NA  H            1   120.000    418.400 ; new99 his
CW  NA  H            1   120.000    418.400 ; new99 his
CN  NA  CW           1   111.600    585.760 ; AA trp
CN  NA  H            1   123.100    418.400 ; new99 trp
CB  NB  CK           1   103.800    585.760 ; 
CC  NB  CR           1   117.000    585.760 ; AA his
CR  NB  CV           1   117.000    585.760 ; AA his
C   NC  CA           1   120.500    585.760 ; 
CA  NC  CB           1   112.200    585.760 ; 
CA  NC  CQ           1   118.600    585.760 ; 
CB  NC  CQ           1   111.000    585.760 ; 
C   OH  HO           1   113.000    418.400 ; new99
CT  OH  HO           1   108.500    460.240 ; 
HO  OH  P            1   108.500    376.560 ; 
CT  OS  CT           1   109.500    502.080 ; 
CT  OS  P            1   120.500    836.800 ; 
P   OS  P            1   120.500    836.800 ; 
O2  P   OH           1   108.230    376.560 ; 
O2  P   O2           1   119.900   1171.520 ; 
O2  P   OS           1   108.230    836.800 ; 
OH  P   OS           1   102.600    376.560 ; 
OS  P   OS           1   102.600    376.560 ; 
CT  S   CT           1    98.900    518.816 ; AA met
CT  S   S            1   103.700    569.024 ; AA cyx             (SCHERAGA  JPC 79,1428)
CT  SH  HS           1    96.000    359.824 ; changed from 44.0 based on methanethiol nmodes
HS  SH  HS           1    92.070    292.880 ; AA cys
F   CT  F            1   109.100    644.336 ; JCC,13,(1992),963;
F   CT  H1           1   109.500    418.400 ; new99
N   C   N            1   120.000    585.760 ; Added for Urea (same as N2-CA-N2) - EJS
