
[ constrainttypes ]
; this section is implemented manually from bond & angle values

; constraints for rigid CH3 groups
 MCH3   CT      2    0.166426
 MCH3   S       2    0.193875
 MCH3   MCH3    2    0.092163
 MCH3   n4g     2    0.248536
 MCH3   osg     2    0.207560
 MCH3   c3g     2    0.166426
; constraints for rigid NH3 groups
 MNH3   CT      2    0.158254
 MNH3   MNH3    2    0.080229


; angle-derived constraints for OH and SH groups in proteins
; The constraint A-C is calculated from the angle A-B-C and bonds A-B, B-C.
  C     HO      2    0.195074
  CA    HO      2    0.195074
  CT    HO      2    0.194132
  CT    HS      2    0.235935
  c3g   hog     2    0.195074

